<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TaskFlow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TaskFlow.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TaskFlow.Properties.Settings>
            <setting name="MainViewTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainViewLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainViewHeight" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="MainViewWidth" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="MainViewState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="LoginFormViewTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LoginFormViewLeft" serializeAs="String">
                <value>100</value>
            </setting>
        </TaskFlow.Properties.Settings>
        <TaskFlow.Settings>
            <setting name="MainViewTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainViewLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainViewHeight" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="MainViewWidth" serializeAs="String">
                <value>1280</value>
            </setting>
        </TaskFlow.Settings>
    </userSettings>
</configuration>